@use "../../../../styles/_variables.scss" as *;
@use "../../../../styles/_common.scss" as *;

@mixin mobile-display-handler($display) {
  @media (max-width: $breakpoint) {
    display: $display;
  }
}

// -------- * ---------
.container {
  z-index: 10;
  background-color: $fg_light;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

// -------- * ---------
.sidebarMenu {
  font-size: 30px;
  margin-left: 10px;
  display: none;
  cursor: pointer;

  @include mobile-display-handler(inline);
}
// -------- * ---------
.logo {
  cursor: pointer;
  width: 250px;
  height: 60px;
  transform: scale(0.4);
  position: relative;
}

// -------- * ---------
.form {
  height: 2rem;
  width: 55%;

  input {
    border: 1px solid #d8d8d8;
    outline: none;
    padding: 5px 10px;
    line-height: 24px;
    width: 80%;
    color: #333333;
    font-size: 16px;

    &:focus {
      border-color: #b9b9b9;
    }
  }

  button {
    font-size: 18px;
    width: 70px;
    height: 100%;
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-left: none;

    &:hover {
      border-color: #b9b9b9;
      cursor: pointer;
    }
  }
}

// -------- * ---------
.formMobile {
  position: absolute;
  top: 1rem;
  right: 50%;
  transform: translateX(50%);
  input {
    background: #e9e9e9;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    padding: 10px 1rem;
  }
}

// -------- * ---------
.userOptionContainer {
  height: 100%;
  display: flex;
  align-items: center;

  // -------- * ---------
  .option {
    position: relative;
    font-size: 20px;
    margin-right: 1rem;

    .mobileSearch {
      margin-right: 10px;
      display: none;

      @include mobile-display-handler(inline);
    }

    @media (max-width: $breakpoint) {
      display: flex;
      align-items: center;
    }

    svg {
      cursor: pointer;
    }
  }

  // -------- * ---------
  button {
    @include sign-button;

    @media (max-width: $breakpoint) {
      display: none;
    }
  }
  // -------- * ---------
  .avatar {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

    img {
      border-radius: 50%;
    }
  }
}

// -------- * ---------
.modal {
  position: absolute;
  top: 2rem;
  right: -7px;
  width: 20rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  // -------- * ---------
  .firstSection {
    padding: 1rem;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 16px;
      margin-left: 1rem;
    }

    svg {
      margin-top: 1.5px;
      font-size: 24px;
    }

    &:hover {
      background-color: #f8f8f8;
    }
  }

  // -------- * ---------
  .secondSection {
    div {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      padding: 0 1rem;

      svg {
        font-size: 26px;
        color: gray;
      }
      span {
        margin-left: 12px;
        font-size: large;
      }
    }
    p {
      font-size: 14px;
      margin-top: 1rem;
      margin-left: 1rem;
      padding: 1rem 0;
      border: 1px solid rgba(0, 0, 0, 0.2) {
        left: none;
        right: none;
      }
      color: $light_secondary_color;
    }

    ul {
      font-size: medium;

      li {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        cursor: pointer;

        svg {
          font-size: 22px;
          margin-right: 10px;
        }

        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }
}

// -------- * ---------
// Dark mode settings
.containerDark {
  @extend .container;

  background: $fg_dark;

  .form,
  .formMobile {
    input {
      background-color: #121212;
      border: none;
      color: white;
      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.1);
    }

    button {
      background: #313131;
      border: none;
    }
  }

  .modal {
    background-color: #212121;

    // avatar modal sign out svg
    .signOutSvg {
      filter: invert(100);
    }

    .firstSection:hover {
      background-color: #2b2b2b;
    }

    .secondSection li:hover {
      background-color: #2b2b2b;
    }
  }
}
