@import "../../../../styles/_variables.scss";

.container {
  width: 100%;
  max-height: 200px;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

// -------- * ---------
.menu {
  font-size: 30px;
  margin-left: 10px;
  display: none;

  @media (max-width: $breakpoint) {
    display: inline;
  }
}
// -------- * ---------
.logo {
  width: 300px;
  height: 70px;
  transform: scale(0.4);
  position: relative;
}
// -------- * ---------
.formContainer {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media (max-width: $breakpoint) {
    display: none;
  }
}

// -------- * ---------
.form {
  height: 2.5rem;
  width: 100%;
  input {
    border: 1px solid #d8d8d8;
    outline: none;
    padding: 10px 10px;
    height: 100%;
    width: 80%;
    color: #333333;
    font-size: 16px;

    &:focus {
      border-color: #b9b9b9;
    }
  }

  button {
    font-size: 18px;
    width: 5rem;
    height: 100%;
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-left: 0;

    &:hover {
      border-color: #b9b9b9;
      cursor: pointer;
    }
  }
}

// -------- * ---------
.accountContainer {
  height: 100%;
  display: flex;
  align-items: center;

  .option {
    font-size: 20px;
    margin-right: 1rem;
    cursor: pointer;

    .mobileSearch {
      margin-right: 10px;
      display: none;
    }
  }

  button {
    cursor: pointer;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 16px;
    color: #3ea6ff;
    border: 1px solid #3ea6ff;
    i {
      font-size: 22px;
      margin: 3px 10px 0 0;
    }
  }

  @media (max-width: $breakpoint) {
    .menu {
      display: inline;
    }

    .option {
      display: flex;
      align-items: center;
      .mobileSearch {
        display: inline;
      }
    }

    button {
      display: none;
    }
  }
}
