@use "../../../../styles/variables" as *;

// search page card
.searchCard {
  width: 90%;
  height: 220px;
  margin-bottom: 1.5rem;
  display: flex;
  // < -------- * -------- >
  .thumbnail {
    position: relative;
    height: 100%;
    width: 450px;
    cursor: pointer;

    margin-right: 15px;
  }

  // < -------- * -------- >
  .details {
    height: 50%;
    width: 70%;
    margin-top: 5px;

    // title
    h3 {
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }

    p:nth-child(2) {
      margin-top: 7px;
    }

    // < -------- * -------- >
    .channel {
      margin: 1rem 0;
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
      }

      // channel name
      span {
        cursor: pointer;
        margin-left: 7px;
        font-size: 14px;
      }
    }
  }

  // < -------- * -------- >
  // on mobile
  @media (max-width: $breakpoint) {
    height: 400px;
    flex-direction: column;

    .thumbnail {
      height: 70%;
      width: 100%;
    }

    .details {
      width: 100%;
      margin-top: 10px;

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}
