@use "../variables" as *;

.container {
  width: 100%;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 3rem;
  transform: scaleX(0.95);
  overflow-y: hidden !important;
  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.container > * {
  @media (max-width: $breakpoint) {
    margin: 0 auto 2rem auto;
    transform: scale(1.2);
  }
}
