@use "../variables" as *;

.container {
  width: 100%;
  margin-top: 2rem;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
  overflow-y: hidden !important;

  @media (max-width: $breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.container > * {
  @media (max-width: $breakpoint) {
    margin: 0 auto 2rem auto;
  }
}
