@media (max-width: 800px) {
  .videos-related-container {
    flex-direction: column;
    align-items: center;
  }

  .video-view-channel-details {
    width: 100% !important;
  }
}

.videos-related-container {
  display: flex;
}

.video-section {
  flex: 0.7;
  display: flex;
  justify-content: flex-start;
  margin: 0 30px;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.video-container h3 {
  margin: 12px;
}

.video-container p {
  justify-self: center;
  font-size: 1.2em;
  margin: 30px 12px 0 12px;
}

.video {
  min-height: 450px;
  min-width: 700px;
}

/* Channel Styling */

.video-view-channel-details {
  width: 250px;
  display: flex;
  align-items: center;
}

.video-view-channel-details .channel-img {
  margin: 0 12px;
}

.video-view-channel-details h4 {
  font-weight: 500;
  font-size: 1.2em;
}

.loading-gif {
  height: 250px;

  align-self: flex-end;
  margin: 0 auto;
}
