@use "../../../styles/variables" as *;

.container {
  width: 100%;
  min-height: 100px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;

  @media (max-width: $breakpoint) {
    margin-left: 0;
  }
}

.avatar {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  img {
    width: fit-content;
    border-radius: 50%;
  }
}

.details {
  width: 80%;
  margin-left: 1rem;
  font-size: 14px;
  // author name
  div:first-child {
    font-weight: 500;
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    align-items: center;

    p {
      margin-right: 5px;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  span:not(:first-child) {
    color: #818181;
  }

  // comment
  .comment {
    margin: 5px 0 10px 0;
    font-size: 16px;
  }

  // likes
  .likes {
    display: flex;
    align-items: center;

    // thumbs up svg
    svg {
      font-size: 18px;
    }
    // likes count
    span {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}
