* {
  margin: 0;
}

.app-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 7px;
}

.side-bar:focus-within * {
  background: none;
}

.side-bar [tabindex]:focus {
  background-color: rgba(233, 233, 233, 0.637);
}

.video-view {
  display: flex;
}

.videos-home,
.video-view,
.not-found {
  flex: 0.8;
}
