@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

// dark mode setting
html[data-theme="dark"] {
  body {
    background-color: $bg_dark;
  }

  svg {
    color: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaa;

    &:hover {
      background-color: rgb(102, 101, 101);
    }
  }
}

body {
  background-color: $bg_light;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out;
}

*:focus {
  outline: none;
}

// scrollbar styling
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border-radius: 52px;
  &:hover {
    background: rgb(156, 156, 156);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}
